name: intiface_central
description: Intiface® Central

publish_to: 'none'
version: 3.0.0-beta3

environment:
  sdk: '>=3.8.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  bloc: ^9.1.0
  #buttplug: ^0.0.4
  buttplug: 
    path: /Users/qdot/code/buttplug_dart
  cupertino_icons: ^1.0.8
  device_info_plus: ^11.5.0
  easy_debounce: ^2.0.3
  equatable: ^2.0.7
  # Needed for rust ffigen
  ffi: ^2.1.4
  flutter_bloc: ^9.1.1
  flutter_foreground_task: 8.7.0
  flutter_local_notifications: ^17.2.4
  flutter_loggy: ^2.0.3+1
  flutter_markdown: ^0.6.23
  flutter_rust_bridge: 2.11.1
  flutter_spinkit: ^5.2.2
  freezed_annotation: ^3.1.0
  github: ^9.25.0
  intl: ^0.18.1
  json_annotation: ^4.9.0
  loggy: ^2.0.3
  markdown: ^7.3.0
  network_info_plus: ^4.1.0+1
  path_provider: ^2.1.5
  path: ^1.9.1
  percent_indicator: ^4.2.5
  permission_handler: ^11.4.0
  plugin_platform_interface: ^2.1.8
  rxdart: ^0.27.7
  screen_retriever: ^0.1.9
  sentry_flutter: ^9.9.1
  sentry: ^9.9.1
  settings_ui: ^2.0.2
  shared_preferences: ^2.5.4
  tuple: ^2.0.2
  url_launcher: ^6.3.2
  version: ^3.0.2
  web_socket_channel: ^3.0.3
  window_manager: ^0.3.9
  multicast_dns: ^0.3.3
  flutter_multi_slider: ^2.0.1
  discord_rich_presence: ^1.1.1
  pubspec_parse: ^1.5.0
  rust_lib_intiface_central:
    path: rust_builder

  meta: ^1.16.0
  uuid: ^4.5.2
dev_dependencies:
  build_runner: ^2.10.4
  # Needed for rust ffigen
  ffigen: ^9.0.1
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^3.0.2
  #flutter_test:
  #  sdk: flutter
  freezed: ^3.2.3
  #integration_test:
  #  sdk: flutter
  json_serializable: ^6.11.2
  msix: ^3.16.12
  #test: ^1.28.0

flutter:
  uses-material-design: true
  # Must specify each directory explicitly, this is not a recursive include.
  assets:
    - assets/
    - assets/icons/
    - pubspec.yaml

msix_config:
  display_name: Intiface® Central
  publisher_display_name: Nonpolynomial Labs, LLC
  identity_name: NonpolynomialLabsLLC.IntifaceCentral
  # publisher: CN=F86D9362-B08B-4275-8DB7-9799BD6BB826
  logo_path: ./assets/icons/intiface_central_icon.png
  install_certificate: false
  msix_version: 2.5.7.0
  capabilities: internetClient, internetClientServer, privateNetworkClientServer, humaninterfacedevice, bluetooth, usb, serialcommunication

flutter_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/icons/intiface_central_icon.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: false  
  windows:
    generate: true
    icon_size: 48 # min:48, max:256, default: 48
  macos:
    generate: true
  linux:
    generate: true
