name: intiface_central
description: Intiface® Central

publish_to: 'none'
version: 2.5.7+25

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  bloc: ^8.1.3
  buttplug: ^0.0.4
# buttplug: 
#   path: /Users/qdot/code/buttplug_dart
  cupertino_icons: ^1.0.6
  device_info_plus: ^9.1.0
  easy_debounce: ^2.0.3
  equatable: ^2.0.5
  # Needed for rust ffigen
  ffi: ^2.1.0
  flutter_bloc: ^8.1.3
  flutter_foreground_task: ^6.1.2
  flutter_local_notifications: ^16.1.0
  flutter_loggy: ^2.0.2
  flutter_markdown: ^0.6.18
  flutter_rust_bridge: ^1.82.5
  flutter_spinkit: ^5.2.0
  github: ^9.20.0
  intl: ^0.18.1
  json_annotation: ^4.8.1
  loggy: ^2.0.3
  markdown: ^7.1.1
  network_info_plus: ^4.1.0
  package_info_plus: ^5.0.1
  path_provider: ^2.1.1
  path: ^1.8.3
  percent_indicator: ^4.2.3
  permission_handler: ^11.0.1
  plugin_platform_interface: ^2.1.6
  rxdart: ^0.27.7
  screen_retriever: ^0.1.9
  sentry_flutter: ^7.18.0
  sentry: ^7.18.0
  settings_ui: ^2.0.2
  shared_preferences: ^2.2.2
  tuple: ^2.0.2
  url_launcher: ^6.2.1
  version: ^3.0.2
  web_socket_channel: ^2.4.0
  window_manager: ^0.3.7
  multicast_dns: ^0.3.2+6

dev_dependencies:
  build_runner: ^2.4.6
  # Needed for rust ffigen
  ffigen: ^9.0.1
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter
  json_serializable: ^6.7.1
  #msix: ^3.8.1

flutter:
  uses-material-design: true
  # Must specify each directory explicitly, this is not a recursive include.
  assets:
    - assets/
    - assets/icons/

#msix_config:
#  display_name: Intiface® Central
#  publisher_display_name: Nonpolynomial Labs, LLC
#  identity_name: NonpolynomialLabsLLC.IntifaceCentral
#  publisher: CN=F86D9362-B08B-4275-8DB7-9799BD6BB826
#  logo_path: ./assets/icons/intiface_central_icon.png
#  install_certificate: false
#  msix_version: 2.3.0.0
#  capabilities: internetClient, internetClientServer, privateNetworkClientServer, humaninterfacedevice, bluetooth, usb, serialcommunication

flutter_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/icons/intiface_central_icon.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: false  
  windows:
    generate: true
    icon_size: 48 # min:48, max:256, default: 48
  macos:
    generate: true
  linux:
    generate: true
